@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;600&family=Fraunces:wght@700;900&display=swap");
:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --Dark-blue-photography-text: hsl(198, 62%, 26%);
  --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
.container {
  position: relative;
  .bg {
    width: 100%;
  }
  .desktop_bg {
    display: none;
  }
  header {
    width: 100%;
    min-height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo {
      margin-right: 10rem;
    }
  }
  nav {
    height: 60%;
    width: 90%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 3rem 5rem;
    display: none;
    z-index: 2;
    ul {
      text-align: center;
      height: 100%;
      li {
        list-style: none;
        margin-bottom: 3rem;
        a {
          font-weight: 600;
          text-decoration: none;
          color: var(--Very-dark-grayish-blue);
        }
      }
      .cta {
        margin-bottom: 0;
        padding: 1rem 2rem;
        font-family: "Fraunces", sans-serif;
        color: var(--Very-dark-desaturated-blue);
        font-size: 20px;
        background-color: var(--Yellow);
        border-radius: 5rem;
      }
    }
  }
  .heading {
    font-family: "Fraunces", sans-serif;
    font-size: 55px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--White);
    text-transform: uppercase;
    text-align: center;
  }
  .arrow {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
  }
}
h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 30px;
  color: var(--Very-dark-desaturated-blue);
  margin-bottom: 2rem;
}
p {
  font-weight: 600;
  line-height: 2rem;
  color: var(--Very-dark-grayish-blue);
  margin-bottom: 2rem;
}
.container1 {
  .egg_mobile {
    margin-top: -5px;
    width: 100%;
  }
  .egg_desktop {
    display: none;
  }
  .description {
    padding: 4rem 2.5rem;
    text-align: center;
    position: relative;

    .cta1:after {
      content: "";
      position: absolute;
      height: 10px;
      width: 100%;
      background-color: var(--Yellow);
      bottom: 0;
      left: 0;
      z-index: -1;
      opacity: 0.5;
      border-radius: 5rem;
      transition: all 0.3s ease-in-out;
    }
    .cta1:hover:after {
      opacity: 1;
    }
  }
}
.common {
  position: relative;
  text-transform: uppercase;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--Very-dark-desaturated-blue);
  text-decoration: none;
  z-index: 2;
}
.container2 {
  .glass_mobile {
    width: 100%;
  }
  .glass_desktop {
    display: none;
  }
  .description {
    padding: 4rem 2.5rem;
    text-align: center;
    position: relative;

    .cta2:after {
      content: "";
      position: absolute;
      height: 10px;
      width: 100%;
      background-color: var(--Soft-red);
      bottom: 0;
      left: 0;
      z-index: -1;
      opacity: 0.5;
      border-radius: 5rem;
      transition: all 0.3s ease-in-out;
    }
    .cta2:hover:after {
      opacity: 1;
    }
  }
}
.container3 {
  position: relative;
  .graphic_mobile {
    width: 100%;
  }
  .graphic_desktop {
    display: none;
  }
  .description {
    text-align: center;
    width: 100%;
    padding: 1.5rem 2.5rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    h2 {
      color: var(--Dark-desaturated-cyan-graphic-design-text);
    }
    p {
      color: var(--Dark-desaturated-cyan-graphic-design-text);
    }
  }
}
.container4 {
  position: relative;
  .photo_mobile {
    width: 100%;
    margin-top: -5px;
  }
  .photo_desktop {
    display: none;
  }
  .description {
    text-align: center;
    width: 100%;
    padding: 1.5rem 2.5rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    h2 {
      color: var(--Dark-blue-photography-text);
    }
    p {
      color: var(--Dark-blue-photography-text);
    }
  }
}

.testimonials {
  text-align: center;
  padding: 4rem 2.2rem;
  padding-bottom: 0;
  .test_heading {
    font-family: "Fraunces", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--Grayish-blue);
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
  }
  .test {
    margin-bottom: 4rem;
    .test_img {
      width: 25%;
      border-radius: 50%;
      margin-bottom: 2rem;
    }
    .name {
      font-family: "Fraunces", sans-serif;
      color: var(--Very-dark-desaturated-blue);
      margin: bottom 1rem;
    }
    .post {
      color: var(--Grayish-blue);
      font-size: 15px;
    }
  }
}
.mobile_gallery {
  display: grid;
  grid-template-columns: auto auto;
  img {
    width: 100%;
  }
}
.desktop_gallery {
  display: none;
}

footer {
  text-align: center;
  padding: 4rem 2.5rem;
  padding-bottom: 0;
  background-color: #64c4b1;
  .footer_logo {
    width: 50%;
    margin-bottom: 2rem;
  }
  .nav_links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
    li {
      a {
        font-weight: 600;
        text-decoration: none;
        color: var(--Dark-moderate-cyan-footer);
        transition: all 0.2s ease-in-out;
        &:hover {
          color: var(--White);
        }
      }
    }
  }
  .social_links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1210px) {
  .container {
    .bg {
      display: none;
    }
    .desktop_bg {
      display: block;
      width: 100%;
    }
    header {
      .logo {
        margin-right: 80%;
      }
      .menu {
        display: none;
      }
    }
    nav {
      display: block;
      background-color: transparent;
      position: fixed;
      height: 2rem;
      width: 50%;
      top: -2%;
      left: 80%;
      ul {
        display: flex;
        justify-content: space-evenly;
        li {
          a {
            color: var(--White);
          }
          .cta {
            background-color: var(--White);
            transition: all 0.2s ease-in-out;
            &:hover {
              background-color: hsla(0, 0%, 100%, 0.3);
              color: var(--White);
            }
          }
        }
      }
    }
    .heading {
      width: 100%;
      font-size: 80px;
      letter-spacing: 0.5rem;
    }
    .arrow {
      top: 45%;
    }
  }
  h2 {
    font-size: 60px;
  }
  .container1 {
    display: flex;
    flex-direction: row-reverse;
    .egg_mobile {
      display: none;
    }
    .egg_desktop {
      display: block;
      width: 50%;
    }
    .description {
      width: 50%;
      margin: auto;
      text-align: left;
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }
  .container2 {
    display: flex;
    .glass_mobile {
      display: none;
    }
    .glass_desktop {
      display: block;
      width: 50%;
    }
    .description {
      width: 50%;
      margin: auto;
      text-align: left;
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }
  .big_section {
    display: flex;
    .container3 {
      width: 50%;
      .graphic_mobile {
        display: none;
      }
      .graphic_desktop {
        display: block;
        width: 100%;
      }
      .description {
        h2 {
          font-size: 30px;
        }
        p {
          padding: 0 5rem;
        }
      }
    }
    .container4 {
      width: 50%;
      .photo_mobile {
        display: none;
      }
      .photo_desktop {
        display: block;
        width: 100%;
      }
      .description {
        h2 {
          font-size: 30px;
        }
        p {
          padding: 0 5rem;
        }
      }
    }
  }
  .testimonials {
    margin-top: 4rem;
    .client_testimonials {
      padding: 0 5rem;
      display: flex;
      justify-content: space-evenly;
      .test {
        margin-right: 2rem;
        .test_img {
          width: 20%;
        }
      }
    }
  }
  .images {
    .mobile_gallery {
      display: none;
    }
    .desktop_gallery {
      display: flex;
      img {
        width: 25%;
      }
    }
  }
  footer {
    .footer_logo {
      width: 20%;
    }
    .nav_links {
      margin: auto;
      width: 40%;
      height: 10rem;
    }
    .social_links {
      width: 20%;
      margin: auto;
      margin-bottom: 3rem;
    }
  }
}
